:root {
  --primary: #e07b39;
  --primary_dark: #ce5d12;
  --background: #010101;
  --basic: #fff;
  --basic_dark: #f4f0e6;
}

/* Install Font */
@font-face {
  font-family: Poppins-ExBold;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}

/* Inside View */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: var(--background);
  color: var(--basic);
}

.container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.parent {
  margin-top: 100px;
}

/* Navbar */
.navbar {
  width: 100%;
  overflow: hidden;
  background: var(--background);
  padding-left: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #513c28;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .logo {
  color: var(--basic);
  font-size: 30px;
  margin-left: 4%;
  padding-left: 0;
  text-align: left;
  float: left;
  position: absolute;
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .navigation {
  float: right;
  margin-top: 35px;
}

.navbar .navigation li {
  float: right;
  margin-left: 20px;
  font-size: 18px;
  display: block;
}

.navbar .navigation li a {
  color: var(--basic);
  text-decoration: none;
  font-family: "Poppins";
}

.navbar .navigation li a:hover {
  color: var(--primary);
}

.navbar .navigation li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navigation li a:hover::after {
  transform: scaleX(0.5);
}

/* galeri Section */
.galeri {
  padding-top: 6rem;
}

.galeri h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.galeri h2 span {
  color: var(--primary);
}

.galeri h2 {
  margin-bottom: 1rem;
}

.galeri p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
  padding: 0 7rem;
}

.galeri .row {
  display: flex;
  background-image: url("../img/kayu.jpg");
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5rem;
  width: 100%;
  justify-content: center;
  padding: 8rem 0;
  background-size: cover;
  position: relative;
}

.galeri .row::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.galeri .row::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.galeri .row .galeri-card {
  padding-bottom: 1rem;
  margin: 1rem 4rem;
}

.galeri .row .galeri-card-img {
  padding: 4px;
  height: 18rem;
  width: auto;
  background-color: var(--basic_dark);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
}

footer .links {
  margin-bottom: 0.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.1rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--background);
  font-weight: 700;
}
