/* Master Colour */
:root {
  --primary: #e07b39;
  --primary_dark: #ce5d12;
  --background: #010101;
  --basic: #fff;
  --basic_dark: #f4f0e6;
}

/* Install Font */
@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}

/* Inside View */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: var(--background);
  color: var(--basic);
}

.container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.parent {
  margin-top: 100px;
}

/* Navbar */
.navbar {
  width: 100%;
  overflow: hidden;
  background: var(--background);
  padding-left: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #513c28;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .logo {
  color: var(--basic);
  font-size: 30px;
  margin-left: 0%;
  padding-left: 0;
  text-align: left;
  float: left;
  position: absolute;
  font-family: "Poppins";
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .navigation {
  float: right;
  margin-top: 35px;
}

.navbar .navigation li {
  float: right;
  margin-left: 20px;
  font-size: 18px;
  display: block;
}

.navbar .navigation li a {
  color: var(--basic);
  text-decoration: none;
  font-family: "Poppins";
}

.navbar .navigation li a:hover {
  color: var(--primary);
}

.navbar .navigation li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navigation li a:hover::after {
  transform: scaleX(0.5);
}

/* Hero Section */
.hero {
  min-height: 105vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 7%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4em;
  color: var(--basic);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--basic);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.menu {
  padding: 8rem 7% 1.4rem;
}

.about {
  min-height: 100vh;
  margin: 5rem 0;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  display: flex;
  position: relative;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.about .row {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}

.about .content {
  margin: 5rem;
}

.about .content .tabel {
  margin: 5rem;
}

.about h1,
.menu h1,
.contact h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h1 span,
.menu h1 span,
.contact h1 span {
  color: var(--primary);
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row h4 {
  font-size: 1.2rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  color: var(--basic);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

/* Tabel */

.tabel .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tabel .features .feature {
  background-color: var(--basic_dark);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 20px;
}

.tabel .features .feature:hover {
  background-color: #fff6e5;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tabel .features .feature h2 {
  color: #94480b;
  text-shadow: var(--background);
  margin-bottom: 5px;
}

.tabel .features .feature p {
  font-size: 16px;
  font-weight: 400;
  color: var(--background);
  text-align: justify;
}

/* Product Container */
.product-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 36px;
  color: var(--basic);
  margin-bottom: 20px;
}

.title span {
  color: var(--primary);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}

.product-card:hover {
  background-color: #fff6e5;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--background);
  margin: 10px 0;
}

.product-price {
  font-size: 18px;
  color: #e53935;
  font-weight: bold;
}

.product-price span {
  text-decoration: line-through;
  font-size: 14px;
  color: var(--background);
  margin-right: 5px;
}

.product-container .product-grid a {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--basic);
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.product-container .product-grid a:hover {
  background-color: #ff701f;
  transform: scale(1.05);
}

.product-container .cek-harga {
  background-color: var(--primary);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
}

.product-container .cek-harga:hover {
  background-color: #ff701f;
  transform: scale(1.05);
}

.product-container .cek-harga a {
  text-decoration: none;
  color: var(--basic);
}

.ulasan::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.ulasan::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

/* Ulasan */
.ulasan {
  text-align: center;
  background-image: url("../img/dark-wooden.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

.ulasan .row2 {
  padding: 5rem;
}

.ulasan h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--primary);
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 10px;
}

.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: left;
}

.card:hover {
  background-color: #fff6e5;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.2em;
  color: #5a3d2b;
  margin-bottom: 10px;
}

.card .judul {
  font-weight: bold;
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card .stars {
  color: #f39c12;
  font-size: 1.2em;
  font-weight: bold;
}

/* Contact Section */
.contact {
  padding: 1rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.contact h2 span {
  color: var(--primary);
}

.contact p {
  text-align: center;
  max-width: 70rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.link-servis {
  margin-top: 1rem;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin: auto;
  text-align: center;
  width: 12rem;
}

.link-servis a {
  font-size: 1.2rem;
  color: var(--basic);
  text-decoration: none;
}

.link-servis:hover {
  background-color: #ff701f;
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
}

footer .links {
  margin-bottom: 0.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.1rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--background);
  font-weight: 700;
}
