/* Master Colour */
:root {
  --primary: #e07b39;
  --primary_dark: #ce5d12;
  --background: #010101;
  --basic: #fff;
  --basic_dark: #f4f0e6;
}

/* Install Font */
@font-face {
  font-family: Poppins-ExBold;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}

/* Inside View */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: var(--background);
  color: var(--basic);
}

.container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.parent {
  margin-top: 100px;
}

/* Navbar */
.navbar {
  width: 100%;
  overflow: hidden;
  background: var(--background);
  padding-left: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #513c28;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .logo {
  color: var(--basic);
  font-size: 30px;
  margin-left: 4%;
  padding-left: 0;
  text-align: left;
  float: left;
  position: absolute;
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .navigation {
  float: right;
  margin-top: 35px;
}

.navbar .navigation li {
  float: right;
  margin-left: 20px;
  font-size: 18px;
  display: block;
}

.navbar .navigation li a {
  color: var(--basic);
  text-decoration: none;
  font-family: "Poppins";
}

.navbar .navigation li a:hover {
  color: var(--primary);
}

.navbar .navigation li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navigation li a:hover::after {
  transform: scaleX(0.5);
}

/* Product Section */
.jualans {
  width: 100%;
  margin-top: 2rem;
  background-image: url("../img/dark-wooden.jpg");
  background-size: cover;
}

.row {
  padding: 5rem;
}

.jualans h2 {
  font-size: 3em;
  color: var(--basic);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  text-align: center;
}

.jualans h2 span {
  color: var(--primary);
}

.jualans .jualan {
  background-color: var(--basic_dark);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.jualans .jualan h3 {
  font-size: 1rem;
  color: var(--background);
}

.jualans .jualan p {
  color: #823116;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
}

footer .links {
  margin-bottom: 0.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.1rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--background);
  font-weight: 700;
}
