/* Master Colour */
:root {
  --primary: #e07b39;
  --primary_dark: #ce5d12;
  --background: #010101;
  --basic: #fff;
  --basic_dark: #f4f0e6;
}

/* Install Font */
@font-face {
  font-family: Poppins-ExBold;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}

/* Inside View */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: var(--background);
  color: var(--basic);
}

.container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.parent {
  margin-top: 100px;
}

/* Navbar */
.navbar {
  width: 100%;
  overflow: hidden;
  background: var(--background);
  padding-left: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #513c28;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .logo {
  color: var(--basic);
  font-size: 30px;
  margin-left: 4%;
  padding-left: 0;
  text-align: left;
  float: left;
  position: absolute;
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .navigation {
  float: right;
  margin-top: 35px;
}

.navbar .navigation li {
  float: right;
  margin-left: 20px;
  font-size: 18px;
  display: block;
}

.navbar .navigation li a {
  color: var(--basic);
  text-decoration: none;
  font-family: "Poppins";
}

.navbar .navigation li a:hover {
  color: var(--primary);
}

.navbar .navigation li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navigation li a:hover::after {
  transform: scaleX(0.5);
}

/* About Section */

.about {
  min-height: 100vh;
  margin: 5rem 0;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  display: flex;
  position: relative;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.about .row {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}

.about .content {
  margin: 5rem;
}

.about .content .tabel {
  margin: 5rem;
}

.about h1,
.menu h1,
.contact h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h1 span,
.menu h1 span,
.contact h1 span {
  color: var(--primary);
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row h4 {
  font-size: 1.2rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}

.tabel .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tabel .features .feature {
  background-color: var(--basic_dark);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 20px;
}

.tabel .features .feature:hover {
  background-color: #fff6e5;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tabel .features .feature h2 {
  color: #94480b;
  text-shadow: var(--background);
  margin-bottom: 5px;
}

.tabel .features .feature p {
  font-size: 16px;
  color: var(--background);
  text-align: justify;
}
/* Menu Section */
.menu {
  padding: 0;
}

.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.menu h2 span {
  color: var(--primary);
}

.menu h2 {
  margin-bottom: 1rem;
}

.menu p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}

.menu .p-about {
  padding: 5rem;
}

.menu .row {
  display: flex;
  background-image: url("../img/kayu.jpg");
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5rem;
  width: 100%;
  justify-content: center;
  padding: 8rem 0;
  background-size: cover;
  position: relative;
}

.menu .row::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.menu .row::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.menu .row .tim-card {
  text-align: center;
  padding-bottom: 4rem;
  width: 21rem;
}

.menu .row .tim-card img {
  border-radius: 50%;
  width: 15rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu .row .tim-card .tim-card-title {
  margin: 1rem auto 0.5rem;
}

/* footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
}

footer .links {
  margin-bottom: 0.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.1rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--background);
  font-weight: 700;
}
